#about-us {
    display: grid;
    grid-template-columns: 5fr 6fr;
    margin-top: 2px;
}

.about__left-column, .about__right-column {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    justify-content: center;
    position: relative;
}

.about__image-1, .about__image-2 {
    padding: 2rem 6rem;
    background-color: var(--color-white);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 16 / 9;
    background-position: right center;
    display: flex;
    align-items: center;
}

.about__image-1 img, .about__image-2 img {
    width: 70%;
    height: auto;
    object-fit: contain;
}

.about__button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    background-color: var(--black-200);
    color: var(--color-white);
    border-radius: 2.2rem 0 0 2.2rem !important; 
    display: flex;
    align-items: center;
    gap: 1rem;
}

.about__button img {
    height: 1rem;
    width: auto;
}

.about__image-1 {background-image: url("../assets/about_bg1.png");}
.about__image-2 {background-image: url("../assets/about_bg2.png");}

.about__right-column {
    padding: 2rem;
}

@media screen and (max-width: 728px) {
    #about-us {
        grid-template-columns: 1fr;
    }

    .about__left-column {
        flex-direction: row;
        grid-row: 2 / 3;
        gap: 0;
    }

    .about__button {
        display: none;
    }
}


@media screen and (max-width: 560px) {
    .about__left-column {
        flex-direction: column;
        grid-row: 1 / 2;
        gap: 0.6rem;
    }

    .about__button {
        display: block;
    }

    .about__image-1, .about__image-2 {
        padding: 1rem 6rem;
        aspect-ratio: 2 / 1;
    }

    .about__image-1 img, .about__image-2 img {
        width: 100%;
    }
}