#food {
    padding: 4rem;
    background-image: url('../assets/popular_bg.png');
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

#food h2 {
    text-align: center;
    color: var(--color-white);
}

.food__categories {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(0.6rem, 2vw, 2rem);
    padding: 2rem 0;
    justify-content: center;
}


.food__categories button {
    padding: 0.8rem clamp(1.0rem, 3vw, 2.2rem);
    border-radius: 1.6rem;
    font-size: clamp(0.8rem, 1.1vw, 1.2rem);
    font-weight: 500;
    cursor: pointer;
    color: var(--color-white);
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: inset 0 0 3px var(--color-shadow-white);
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.food__categories button:hover {
    background-color: var(--color-white);
    color: var(--color-black-200);
}

.food__container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.food__card {
    display: flex;
    width: min(26vw, 300px);
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    background-color: rgba(255, 255, 255, .05);
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 1rem;
    padding: 2rem 1rem;
    color: var(--color-white);
}

.food__card h4 {
    font-size: clamp(1.0rem, 1.4vw, 1.8rem);
}

.food__card img {
    width: 70%;
    height: auto;
}

.food__rating {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: stretch;
}

.food__rating p {
    font-size: clamp(1.0rem, 1.4vw, 1.8rem);
}

.card-active {
    transform: scale(1.25);
    background-color: var(--color-white);
    color: var(--color-black-200);
}

.active {
    background-color: var(--color-white) !important;
    color: var(--color-black-200) !important; 
}

.food__categories img {
    height: clamp(1.2rem, 2vw, 2rem);
    width: auto;
}

.food__button {
    margin-top: 4rem;
    background-color: var(--black-200);
    color: var(--color-white);
}

@media screen and (max-width: 1100px) {
    #food {
        padding: 4rem 2rem;
    }

}

@media screen and (max-width: 780px) {
    .food__container {
        gap: 1rem;
    }

    .card-active {
        transform: scale(1);
        background-color: rgba(255, 255, 255, .05);
        color: var(--color-white);
    }
}

@media screen and (max-width: 560px) {
    #food {
        gap: 0;
    }

    .food__container {
        flex-direction: column;
    }

    .food__card {
        width: min(90vw, 300px);
    }
}