header {
    display: grid;
    grid-template-columns: 5fr 6fr;
    grid-template-areas: 
    "nav nav"
    "hero__image hero__content";
    gap: 0;
    min-height: 800px;
    height: 100vh;
}

nav {
    grid-area: nav;
    height: 80px;
    display: grid;
    grid-template-columns: 5fr 6fr;
    text-transform: uppercase;
}

.header__logo {
    padding: 1rem 3rem;
    height: 100%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    color: var(--color-white);
    font-size: 1.8rem;
    font-weight: 700;
}

.header__links {
    padding: 1rem 3rem;
}

.header__links img {
    height: 100%;
    width: auto;
}

.header__menu {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
    gap: 3rem;
}

.header__menu-mobile {
    display: none;
}



@media screen and (max-width: 1048px) {
    header {
        grid-template-areas: 
    "nav nav"
    "hero__image hero__image" 
    "hero__content hero__content";
        height: auto;
    }

    nav {
        grid-template-columns: 200px 1fr;
        background-color: var(--primary-color);
        color: var(--color-white);
    }

    .header__menu img {
        filter: invert(1) brightness(2) contrast(1);
    }


}

@media screen and (max-width: 780px) {
    .header__menu {
        display: none;
    }

    .header__menu-mobile {
        display: flex;
        justify-content: flex-end;
        height: 100%;
        align-items: center;
    }

}