.hero__image {
    grid-area: hero__image;
    background-color: var(--primary-color);
    height: calc(max(100vh, 800px) - 80px);
    display: flex;
    align-items: flex-end;
    padding: 1rem;
    position: relative;
}

.hero__background {
    background-image: url('../assets/sushi-1.png');
    position: absolute;
    left: 0;
    top: 0;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 100;
    width: 120%;
    height: 100%;
}

.hero__image h1 {
    color: var(--color-white);
    font-size: clamp(4rem, 6vw, 10rem);
}

.hero__content {
    grid-area: hero__content;
    display: grid;
    grid-template-rows: 1fr 160px;
}

.hero__text {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}


.hero__text p {
    padding: 0 2rem;
}

.hero__stats {
    background-color: var(--color-white);
}

.hero__buttons {
    padding: 0 2rem 0 4rem;
    display: flex;
    gap: 1.6vw;
}

.hero__button {
    background-color: var(--black-200);
    color: var(--color-white);
}

.hero__transparent {
    background-color: transparent;
    padding: 0;
}

.hero__transparent img {
    height: 1.2rem;
    padding-right: 0.8rem;
    width: auto;
    transform: scale(2.4);
}

.hero__stats {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--black-400)
}

.hero__customers {
    display: flex;
    gap: 0.6rem;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--black-400);
}

.hero__customers h4 {
    font-size: 4rem;
    font-weight: 500;
}

.hero__customers p {
    font-size: 1rem;
    font-weight: 300;
}

.hero__testimonial {
    display: flex;
    gap: 0.6rem;
    align-items: center;
    padding: 0 1rem;
}

.hero__testimonial img {
    height: 3rem;
    width: 3rem;
    object-fit: cover;
    border-radius: 50%;
}

.hero__testimonial p {
    font-size: 0.8rem;
    line-height: 1.5;
}

@media screen and (max-width: 1048px) {
    .hero__image {
        aspect-ratio: 4 / 3;
        height: auto;
    }
    
    .hero__background {
        display: block;
        width: 100%;
        height: 110%;
    }

    .hero__content {
        padding-top: clamp(0.2rem, 2vw ,2rem);
    }
}
@media screen and (max-width: 880px) {
    .hero__image {
        aspect-ratio: 5 / 4;
    }
}

@media screen and (max-width: 560px) {
    .hero__content {
        grid-template-rows: none;
    }

    .hero__buttons {
        flex-direction: column;
        align-items: flex-start;
    }

    .hero__transparent {
        margin-left: -1rem;
    }
    
    .hero__stats {
        padding: 0.6rem 2rem;
        display: grid;
        grid-template-columns: 1fr;
        color: var(--black-400);
    }

    .hero__customers {
        border-right: 0;
        border-bottom: 1px solid var(--black-400);
        margin: 0 20%;
        padding: 1rem 0;
    }

    .hero__customers h4 {
        font-size: 10vw;
    }

    .hero__testimonial {
        padding: 1rem 10%
    }

    .hero__text p {
        font-family: var(--plus-jakarta-sans), serif;
        font-size: 1rem;
        padding: 0 1rem;
    }

}