@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

/* other css file imports */
@import url('css/header.css');
@import url('css/hero.css');
@import url('css/about-us.css');
@import url('css/food.css');
@import url('css/trending.css');
@import url('css/sign-up.css');
@import url('css/footer.css');


/* CSS variables for reusablity across all files (including above imported) */
:root {
  --playfair-display: "Playfair Display", serif;
  --plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;

  --primary-color: #b1454a;
  --secondary-color: #121212;

  --black-200: #020202;
  --black-300: #333333;
  --black-400: #1f1e31;
  --black-500: #555555;
  --gray-100: #888888;

  --color-white: #fff;
  --color-creamson: #fff0de;
  --color-shadow-white: rgba(255, 255, 255, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    border: 0;
}

body {
    width: min(100vw, 1400px);
    background-color: var(--color-creamson);
    margin: auto;
}

ul {
    padding: 0;
}

li {
    padding: 0;
    list-style: none;
}

a {
  all: unset;
  cursor: pointer;
}

.btn {
    padding: 1.1rem 2.2rem;
    border-radius: 2.2rem;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--playfair-display), serif;
    font-weight: 600;
}

h1 {
    font-size: clamp(3rem, 6vw, 6rem);
}

p, a {
    font-family: var(--plus-jakarta-sans), sans-serif;
    font-size: clamp(1.2rem, 1.2vw, 2.0rem);
    line-height: 1.5;
}

h2 {
    font-size: clamp(2.0rem, 4.2vw, 5.2rem);
}

h3 {
    font-family: var(--plus-jakarta-sans), sans-serif;
    font-size: clamp(1.0rem, 1.4vw, 1.8rem);
    font-weight: 600;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: inherit;
  transition: background-color 9999s ease-in-out 0s;
  -webkit-text-fill-color: white;
}


.primary {color: var(--primary-color);}
